@use "../components/" as c;

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  background-color: lightblue;
  &__list {
    font-family: c.$primaryFont;
    padding: 0;
    list-style: none;
    &__item {
      display: flex;
      flex-direction: row;
      align-items: end;
      font-size: 30px;
      margin: 5px;
      &__content {
        height: 30px;
        font-family: c.$primaryFont;
        font-size: 18px;
        outline: auto;
        outline-color: lightseagreen;
        border: 6px solid lightseagren;
      }
      &__done-button {
        margin: 0;
        height: 25px;
        width: 35px;
        accent-color: lightseagreen;
        cursor: pointer;
      }
      &__edit-button {
        @include c.list-buttons;
        background-color: darkgoldenrod;
        outline-color: darkgoldenrod;
      }
      &__delete-button {
        @include c.list-buttons;
        background-color: rgb(255, 91, 91);
        outline-color: rgb(255, 91, 91);
      }
    }
  }
}

.list-done {
  text-decoration: line-through lightseagreen;
}
