@use "../components/" as c;

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  background-color: lightblue;
  &__list {
    font-family: c.$primaryFont;
    padding: 0;
    list-style: none;
    &__item {
      display: flex;
      flex-direction: row;
      align-items: end;
      font-size: 30px;

      &__content {
        min-width: 200px;
        height: 30px;
        width: 80%;
        font-family: c.$primaryFont;
        font-size: 20px;
        outline: auto;
        outline-color: lightseagreen;
        border: 6px solid lightseagren;
        background-color: white;
        text-align: center;
        margin-top: 10px;
        margin-right: 3px;
        padding-top: 2px;
      }
      &__done-button {
        margin: 0;
        height: 25px;
        width: 35px;
        accent-color: lightseagreen;
        cursor: pointer;
      }
      &__delete-button {
        @include c.list-buttons;
        background-color: rgb(255, 91, 91);
        outline-color: rgb(255, 91, 91);
      }
    }
  }
}

.list-done {
  text-decoration: line-through lightseagreen;
}
